{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
    <aside>
        <span class="name">My project</span>
        <ul>
            <li>Гаврылюк Виталий</li>
            <li>Група : ИПЗ-32</li>
        </ul>
        <form method="get">
            <input type="text" name="name" placeholder="Искать здесь...">
            <button type="submit" class="byt"></button>
        </form>
    </aside>
    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>